

.footer{
    padding: 100px 0;
    max-width: 1500px;
    margin: auto;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 5%;
    
    .section{
        width: 15%;
        display: flex;
        flex-direction: column;
        gap:40px;

        &__contacts{
            width: 30%;
        }

        &__links{
            justify-content: flex-end;
            align-items: flex-end;

            .links{
                display: flex;
                flex-direction: row;
                gap: 20px;
                transition: all 0.3s ease;

                .icon{
                    transition: all 0.3s ease;
                    
                    &:hover {
                    transform: scale(1.07); 
                    }
                    &:active {
                        transform: scale(0.98); 
                    }
                }
                
                
            }
        }



        ul{
            list-style: none;

            li{
                transition: all 0.3s ease;
                margin-bottom: 20px;
                &:hover {
                    transform: scale(1.05); 
                    opacity: 0.95; 
                }
                
                &:active {
                    transform: scale(0.98); 
                }

                .footerContacts{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }
        }

        
    }
    
}