@import "tailwindcss";

:root {
  --background: #C6C6C6;
  --second-background: #3F3F3F;
  --text-color: #000000;
  --card-back: #FAFAFA;
  --font-family: "Wix Madefor Display", sans-serif;
  --second-font: "M PLUS 1p", sans-serif;
  
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 20px;
}

footer{
  color: #fff;
  background-color: var(--second-background);
}

.container{
  max-width: 1500px;
  padding: 0 20px;
  margin: 80px auto;

  @media (max-width:1530px) {
    padding: 0 2.5%; 
  }
  @media (max-width: 1230px){
    margin: 50px auto;
  }
}



h1{
  font-size: 75px;
  font-weight: 600;

  @media (max-width:1430px) {
    font-size: 65px;
  }

  @media (max-width:1230px) {
    font-size: 55px;
  }

  @media (max-width:1030px) {
    font-size: 45px;
  }

   @media (max-width:830px) {
    font-size: 37px;
  }
}

.subTitle{
  font-size: 35px;
  font-weight: 400;
  flex-grow: 1;

  @media (max-width:1030px) {
    font-size: 28px;
  }
}

h2{
  font-size: 38px ;
  font-weight: 500;
  margin-bottom: 20px;

  @media (max-width:992px) {
    font-size: 33px;
  }

}

h3{
  font-size: 32px ;
  font-weight: 600;

}

h4{
  font-size: 28px ;
  font-weight: 500;

}

p{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
