.hero {
    margin: 0;
    background: url("/images/Hero.png");
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.heroContentGrid {
    margin: auto;
    max-width: 1500px;
    padding: 150px 0 100px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    z-index: 2;

    .side {
        position: relative;
        height: fit-content;
        padding: 40px;
        z-index: 1;
        width: 50%;

        &__left{
            min-height: 70vh;
            display: flex;
            flex-direction: column;
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.41);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(6px);
            border-radius: 12px;
            z-index: -1;
        }

        .line {
            margin: 20px 0;
            width: 80%; 
            height: 3px; 
            background: var(--text-color);
            border-radius: 2px;
        } 

        .orderButton {
            margin: auto auto 0;
            padding: 12px 32px;
            background: var(--second-background);
            color: #fff;
            border: none;
            width: 300px;
            border-radius: 40px;
            cursor: pointer;
            font-weight: 500;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.07); 
                opacity: 0.95; 
            }
            
            &:active {
                transform: scale(0.98); 
            }
        }

        .featuresList {
            list-style: none;
            padding: 0;
            margin: 20px 0;
            
            li {
                position: relative;
                padding-left: 40px;
                margin-bottom: 30px;
                
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 24px;
                    height: 24px;
                    top: 50%; 
                    transform: translateY(-50%); 
                    background-color: var(--text-color);
                    mask-image: url('/svg/point.svg');
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }
        }

    }

    @media (max-width:1530px) {
        padding: 150px 2.5% 100px;
    }

    @media (max-width: 992px) {
        flex-direction: column;
        .side{
            width: 100%;
            &__left{
                min-height: 30vh;
            }
        }
    }
}

