
.aboutContentGrid{
    height: 350px;
    display: flex;
    gap: 3%;
    flex-direction: row;

    .side{
        height: fit-content;
        max-width: 46.7%;

        &__right{
            margin: auto;
            p{
                font-weight: 700;
            }
        }
    }

    .line {
        
        height: 100%; 
        width: 3px; 
        background: var(--text-color);
        border-radius: 2px;
    } 

    @media (max-width:992) {
        flex-direction: column;
        height: 530px;

        p{
            margin: 20px 0;
        }

        .side{
            max-width: 100%;
        }
        .line {
            height: 3px; 
            width: 80%; 
            background: var(--text-color);
            border-radius: 2px;
        } 
    }

    @media (max-width: 750px) {
        height: fit-content;
    }
}