

.ServicesTopGrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin-bottom: 20px;
        height: fit-content;
    }

    .smallText {
        padding: 40px;
        background: var(--card-back);
        border-radius: 18px;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.03); 
            // opacity: 0.95; 
        }
        &:active {
            transform: scale(0.98); 
        }
        
        .title{
            font-weight: 700;
        }
    }

    .big{
        background: url("/images/Services/1.png");
        background-size: cover;
        border-radius: 18px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; 
        padding: 10px 20px ;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.015); 
            // opacity: 0.95; 
        }
        
        &:active {
            transform: scale(0.98); 
        }
    }

.ServicesBottomGrid{
    display: grid;
    grid-template-columns: minmax(480px, 1fr) 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    min-height: 280px;

    .small {
        background-size: cover !important;
        background-repeat: no-repeat ;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 10px 20px;
        background: var(--card-back);
        border-radius: 18px;
        transition: all 0.3s ease;
        &:nth-child(1){background: url("/images/Services/2.png");}
        &:nth-child(2){background: url("/images/Services/2.png");}
        &:nth-child(3){background: url("/images/Services/2.png");}

        &:hover {
            transform: scale(1.03); 
        }
        &:active {
            transform: scale(0.98); 
        }
        
        .title{
            font-weight: 700;
            color: #fff;
        }
    }
}